.App {
  text-align: center;
}
.text{
  overflow: visible;
  margin-top: -80px;

}
.container {
 opacity: 0.4 !important;
  position: relative;
  text-align: center;
  color: white;
  padding: 0%;
  opacity: 0.5;
}
.centered {
  color: green;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered>:nth-child(1)
{
  font-size: 40px;
  font-weight: 140;
}
.footer{
  background-color: black;
  color: white;
  padding: 2%;
  display: flex;
  justify-content: space-around;

}
.foot1{
  opacity: 0.5;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot2{
  opacity: 0.5;
  display:flex;
  justify-content: space-around;
}
.logo1{
 
  color: white;
  outline: none;
  margin-left: 20px;
}
.cards{
  position: relative;
  padding: 2%;
  background-color: azure;
}
.navlinks :hover{
border: 2px solid white !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
